<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidatos</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="page">
        <div class="sidebar">
            <h4 class="text-center">Menu</h4>
            <a href="/candidatos">Candidatos</a>
            <a href="/partidos">Partidos</a>
            <a href="/sair">Sair</a>
        </div>
        <div class="content p-4 w-100">
            <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#cadastrarCandidatoModal" onClick="limpaModal()">
                Cadastrar Candidato
            </button>
            <table class="table table-striped w-100">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Partido</th>
                        <th scope="col">Número Candidato</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="cadastrarCandidatoModal" tabindex="-1" aria-labelledby="cadastrarCandidatoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cadastrarCandidatoModalLabel">Cadastrar Candidato</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="cadastrarCandidatoForm">
                        <input type="hidden" id="id" name="id">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="nome" name="nome">
                        </div>
                        <div class="mb-3">
                            <label for="idPartido" class="form-label">Partido</label>
                            <select class="form-control" id="idPartido" name="idPartido">
                                <option value="">Selecione um partido</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="numeroCandidato" class="form-label">Número Candidato</label>
                            <input type="number" class="form-control" id="numeroCandidato" name="numeroCandidato">
                        </div>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <button type="button" class="btn btn-secondary btn-fechar" data-bs-dismiss="modal">Fechar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        //ATUALIZA LISTA AO CARREGAR E BUSCA PARTIDOS PARA O SELECT
        document.addEventListener('DOMContentLoaded', (event) => {
            atualizarLista();
            carregaPartidos();
        });


        //CARREGA PARTIDOS NO SELECT
        function carregaPartidos(){
            fetch('/api/partidos')
            .then(response => response.json())
            .then(data => {
                const selectPartido = document.getElementById('idPartido');
                data.forEach(partido => {
                    const option = document.createElement('option');
                    option.value = partido.id;
                    option.textContent = `${partido.nome} - ${partido.sigla}`;
                    selectPartido.appendChild(option);
                });
            });
        }

        //INSERT OU UPDATE QUANDO SUBMIT
        document.getElementById('cadastrarCandidatoForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const id = document.getElementById('id').value;
            const nome = document.getElementById('nome').value;
            const idPartido = document.getElementById('idPartido').value;
            const numeroCandidato = document.getElementById('numeroCandidato').value;
            const data = { id,nome, idPartido, numeroCandidato };

            let method = 'POST';
            if (id)
                method = 'PUT';

            fetch('/api/candidato', {
                method,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == true) {
                    atualizarLista();
                    limpaModal();
                    document.querySelector('.btn-fechar').click();
                    mostrarMensagem(data.message);
                } else {
                    mostrarMensagem(data.message,'danger');
                }
            });
        });    
        
        //GET CANDIDATO E POPULA MODAL
        function carregaCandidato(id)
        {
            fetch(`/api/candidato/${id}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('id').value = data.id;
                document.getElementById('nome').value = data.nome;
                document.getElementById('idPartido').value = data.idPartido;
                document.getElementById('numeroCandidato').value = data.numeroCandidato;
            })
            .then(() => {
                new bootstrap.Modal(document.getElementById('cadastrarCandidatoModal'), {}).show();
            });
        }	

        //ATUALIZA LISTA DE CANDIDATOS
        function atualizarLista()
        {
            fetch('/api/candidatos')
        .then(response => response.json())
        .then(data => {
            const tbody = document.querySelector('tbody');
            tbody.innerHTML = '';
            if(data.length == 0)
                tbody.innerHTML = '<tr><td colspan="5" class="text-center">Nenhum candidato cadastrado</td></tr>';
            data.forEach(candidato => {
                const tr = document.createElement('tr');
                if(candidato.nomePartido == null)
                    candidato.partido = "Sem partido";
                else
                    candidato.partido = candidato.nomePartido + " - " + candidato.siglaPartido;
                tr.innerHTML = `
                    <td>${candidato.id}</td>
                    <td>${candidato.nome}</td>
                    <td>${candidato.partido}</td>
                    <td>${candidato.numeroCandidato}</td>
                    <td>
                        <button class="btn btn-primary" onclick="carregaCandidato(${candidato.id})">Editar</button>
                        <button class="btn btn-danger" onclick="excluir(${candidato.id})">Excluir</button>
                    </td>
                `;
                tbody.appendChild(tr);
            });
        });
        }
        
        //EXCLUIR CANDIDATO
        function excluir(id) {
            if(!confirm('Deseja excluir este candidato?'))
                return;
            fetch(`/api/candidato/${id}`, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == true) {
                    atualizarLista();
                    mostrarMensagem(data.message);
                } else {
                    mostrarMensagem(data.message,'danger');
                }
            });
        }

        //LIMPA MODAL
        function limpaModal() {
            document.getElementById('id').value = '';
            document.getElementById('cadastrarCandidatoForm').reset();
        }

        //MENSAGEM NO TOPO DA TELA POR 3 SEGUNDOS
        function mostrarMensagem(mensagem, tipo = 'success') {
          const mensagemDiv = document.createElement('div');
          mensagemDiv.className = `alert alert-${tipo} alert-dismissible fade show position-fixed top-0 end-0 m-3`;
          mensagemDiv.style.zIndex = 1050;
          mensagemDiv.role = 'alert';
          mensagemDiv.innerHTML = `
            ${mensagem}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          `;
          
          document.body.appendChild(mensagemDiv);

          setTimeout(() => {
            const alert = bootstrap.Alert.getOrCreateInstance(mensagemDiv);
            alert.close();
          }, 3000);
        }
    </script>
</body>
</html>