<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partidos</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="page">
        <div class="sidebar">
            <h4 class="text-center">Menu</h4>
            <a href="/candidatos">Candidatos</a>
            <a href="/partidos">Partidos</a>
            <a href="/sair">Sair</a>
        </div>
        <div class="content p-4 w-100">
            <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#cadastrarPartidoModal" onClick="limpaModal()">
                Cadastrar Partido
            </button>
            <table class="table table-striped w-100">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Sigla</th>
                        <th scope="col">Número Partido</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="cadastrarPartidoModal" tabindex="-1" aria-labelledby="cadastrarPartidoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cadastrarPartidoModalLabel">Cadastrar Candidato</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="cadastrarPartidoForm">
                        <input type="hidden" id="idPartido" name="id">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="nome" name="nome">
                        </div>
                        <div class="mb-3">
                          <label for="sigla" class="form-label">Sigla</label>
                          <input type="text" class="form-control" id="sigla" name="sigla">
                        </div>
                        <div class="mb-3">
                          <label for="numeroRegistro" class="form-label">Número Registro</label>
                          <input type="text" class="form-control" id="numeroRegistro" name="numeroRegistro">
                        </div>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <button type="button" class="btn btn-secondary btn-fechar" data-bs-dismiss="modal">Fechar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
      //ATUALIZA LISTA AO CARREGAR
        document.addEventListener('DOMContentLoaded', (event) => {
            atualizarLista();
        });


        //INSERT OU UPDATE QUANDO SUBMIT
        document.getElementById('cadastrarPartidoForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const id = document.getElementById('idPartido').value;
            const nome = document.getElementById('nome').value;
            const sigla = document.getElementById('sigla').value;
            const numeroRegistro = document.getElementById('numeroRegistro').value;

            const data = {id,nome,sigla,numeroRegistro};

            let method = 'POST';
            if (id)
                method = 'PUT';

            fetch('/api/partido', {
                method,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == true) {
                    atualizarLista();
                    limpaModal();
                    document.querySelector('.btn-fechar').click();
                    mostrarMensagem(data.message);
                } else {
                    mostrarMensagem(data.message,'danger');
                }
            });
        });

        function limpaModal(){
            document.getElementById('idPartido').value = '';
            document.getElementById('cadastrarPartidoForm').reset();
        }        
        

        //GET PARTIDO E POPULA MODAL
        function carregaPartido(id)
        {
            fetch(`/api/partido/${id}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('idPartido').value = data.id;
                document.getElementById('nome').value = data.nome;
                document.getElementById('sigla').value = data.sigla;
                document.getElementById('numeroRegistro').value = data.numeroRegistro;
            })
            .then(() => {
                new bootstrap.Modal(document.getElementById('cadastrarPartidoModal'), {}).show();
            });
        }	


        //ATUALIZA LISTA DE PARTIDOS
        function atualizarLista()
        {
            fetch('/api/partidos')
        .then(response => response.json())
        .then(data => {
            const tbody = document.querySelector('tbody');
            tbody.innerHTML = '';
            if(data.length == 0)
                tbody.innerHTML = '<tr><td colspan="5" class="text-center">Nenhum partido cadastrado</td></tr>';
            data.forEach(partido => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                    <td>${partido.id}</td>
                    <td>${partido.nome}</td>
                    <td>${partido.sigla}</td>
                    <td>${partido.numeroRegistro}</td>
                    <td>
                        <button class="btn btn-primary" onclick="carregaPartido(${partido.id})">Editar</button>
                        <button class="btn btn-danger" onclick="excluir(${partido.id})">Excluir</button>
                    </td>
                `;
                tbody.appendChild(tr);
            });
        });
        }
        
        //DELETE PARTIDO
        function excluir(id) {
          if (!confirm('Deseja excluir este partido?'))
            return;

            fetch(`/api/partido/${id}`, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == true) {
                    atualizarLista();
                    mostrarMensagem(data.message);
                } else {
                    mostrarMensagem(data.message,'danger');
                }
            });
        }
        
        //MENSAGEM NO TOPO DA TELA POR 3 SEGUNDOS
        function mostrarMensagem(mensagem, tipo = 'success') {
          const mensagemDiv = document.createElement('div');
          mensagemDiv.className = `alert alert-${tipo} alert-dismissible fade show position-fixed top-0 end-0 m-3`;
          mensagemDiv.style.zIndex = 1050;
          mensagemDiv.role = 'alert';
          mensagemDiv.innerHTML = `
            ${mensagem}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          `;
          
          document.body.appendChild(mensagemDiv);

          setTimeout(() => {
            const alert = bootstrap.Alert.getOrCreateInstance(mensagemDiv);
            alert.close();
          }, 3000);
        }
    </script>
</body>
</html>